{% extends "layout.html" %}

{% block title %}
   Request/Questions
{% endblock %}

{% block main %}
<form action="/contact" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="kind" name="kind" placeholder="type" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="event" name="event" placeholder="event" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="organization" name="organization" placeholder="Org" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="link" name="link" placeholder="link" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="description" name="description" placeholder="Desc" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="time" name="time" placeholder="time" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="email" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}