{% extends "layout.html" %}

{% block title %}
   Help
{% endblock %}

{% block main %}
<div class="header">
    <div class = "spacing-2">
      <h1 class = "center">
          About
      </h1>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <h2>Purpose</h2>
          <p>The purpose is to allow Purdue Students to easily find Events around campus.</p>
          <p>One of the main reasons for the creation of this website is because of the decentralization of different Purdue events. Instead of looking for events on 3+ websites, BoilerEvents centralizes this!</p>
        </div>
        <div class="col-sm-4">
          <h2>Creation of BoilerEvents</h2>
          <p>The design was inspired mainly by C$50 finance!</p>
          <p>By watching a combination of youtube videos and skills learned in CS50, I used different elements to create and inspire this website's design.</p>
        </div>
        <div class="col-sm-4">
          <h2>Contact Information and Questions</h2>
          <p>Any Questions or Concerns?</p>
          <p>Email(<a href =mailto:"cs50bw@gmail.com">send an email</a>) </p>
        </div>
      </div>
    </div>
{% endblock %}